.new-button {
  border-color: var(--green);
  border-width: 0.2rem;
  color: var(--green);
  width: calc(100% - 2rem);
  margin-left: 1rem;
}

.menu-page {
  max-width: 300px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.menu-page .texts-list {
  height: 100vh;
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.texts-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  height: 80vh;
  padding: 1rem;
  padding-top: 0;
  overflow-y: scroll;
}

.text {
  min-width: 26rem;
  max-width: 40rem;
  padding: 2.4rem;
  background: #fff;
  box-shadow: 0 0.3rem 0.8rem rgb(0 0 0 / 12%);
  border: 1px solid #fff;
  border-radius: 0.8rem;
  transition-duration: 0.2s;
  opacity: 0.95;
  cursor: pointer;
}

.new-button {
  margin-bottom: 2rem;
}
