.playerPage {
  position: relative;
  height: 100%;
  width: 90vw;
  padding-top: 3rem;
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
}

.playerWrapper {
  position: absolute;
  bottom: 5rem;
  width: 100%;
}
