/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

html {
  font-family: 'Inter,Helvetica,Arial,sans-serif';
  font-size: 16px;
}

body {
  --transparentGrey: rgba(88, 93, 96, 0.05);
  --darkerOverlay: rgba(88, 93, 96, 0.15);
  --creamWhite: #fefdfb;
  --darkGrey: #0a171c;
  --purple: #9b51e0;
  --transparentPurple: rgba(155, 81, 224, 0.1);
  --green: #0b843e;
  --transparentGreen: rgba(11, 132, 62, 0.1);
  --blue: #2779a7;
  --transparentBlue: rgba(39, 121, 167, 0.1);
  --grey: #515557;
  position: relative;
  color: white;
  height: 100vh;
  background: var(--transparentGrey);
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter,Helvetica,Arial,sans-serif';
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

body,
html,
#root {
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

h1 {
  font-size: 6rem;
  font-family: 'Inter';
}

h2 {
  font-size: 3rem;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 900;
  color: var(--darkGrey);
  font-family: 'Inter';
}

button {
  font-family: 'Inter';
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border-radius: 0.6rem;
  border-style: solid;
  background-color: transparent;
  transition-duration: 0.2s;
  outline-offset: 0;
  -webkit-appearance: none;
  box-shadow: none;
}

.all {
  border-color: var(--darkGrey);
  border-width: 0.2rem;
  color: var(--darkGrey);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

input:focus,
textarea:focus {
  outline-offset: 0px;
}

textarea {
  height: 15rem;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input,
textarea {
  font-family: 'Inter';
  color: var(--darkGrey);
  line-height: 2.4rem;
  padding: 0.5rem;

  border-radius: 0.6rem;
  border: 0.2rem solid var(--darkerOverlay);
}
